.navbar-custom {
    background-color:#000022;
    color:#fff;
    border-radius:0;
    padding: 0px;
    position: relative;
}

.navbar-custom .navbar-nav > li > a {
    color:#000;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #000;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
    position: absolute;
    float: left;
}

.logo {
    float: left;
}

.linkme{
    position: absolute;
    top: 0;
    right: 15px;
    color: #2C53BD;
}
