.navbar-custom {
    background-color:#000022;
    color:#fff;
    border-radius:0;
    padding: 0px;
    position: relative;
}

.navbar-custom .navbar-nav > li > a {
    color:#000;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #000;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
    position: absolute;
    float: left;
}

.navbar-link {
    position: absolute;
    top: 0.5em;
    left: 15em;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid #0431B4;
    cursor: pointer;
    color:  #2C53BD;
}


.navbar-link:hover {
    color: #FFF;
    background: #0431B4;
}

.logo {
    float: left;
}

/* #2C53BD */