.navbar-custom {
    background-color:#000022;
    color:#000;
    border-radius:0;
    padding: 0px;
}

.navbar-custom .navbar-nav > li > a {
    color:#000;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #000;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
    float: left;
}

.logo {
    float: left;
}
